# Игнорировать виртуальные среды
venv/
.venv/
pyvenv.cfg

# Игнорировать файлы и директории, специфичные для IDE
.idea/

# Игнорировать файлы с настройками среды
.env

# created by virtualenv automatically
*
